/* /* Reset default margin and padding */
html, body {
  margin: 0;
  padding: 0;
}

/* Set background color for the body */
body {
  background-color: #f0f0f0; /* Light gray */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Style for input fields */
input, label {
  font-size: 1em;
}

/* Title styling */
#title {
  background-color: #333; /* Dark gray */
  color: white;
  padding: 0.5em;
  border-radius: 3px;
  font-size: 1.5em; /* Larger font size */
  margin-bottom: 1em; /* Add some space below the title */
}

/* Styling for additional information blurb */
#blurb {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  text-align: center;
  margin: 0 auto 1em auto;
  max-width: 500px; /* Limit width for better readability */
  padding: 1em; /* Increase padding for better spacing */
  border-radius: 5px;
}

/* Styling for the visual title */
#visual-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em; /* Add some space below the visual title */
}

/* Styling for the array visual */
#array-visual {
  margin: 1em;
}

/* Header styling */
header {
  background-color: #fff; /* White */
  padding: 1em;
  color: #333; /* Dark gray */
  margin-bottom: 1em; /* Add some space below the header */
}

/* Button styling */
button {
  margin-top: 1em;
  background-color: #6c63ff; /* Purple */
  font-size: 1em; /* Revert font size to default */
  color: white;
  padding: 0.5em 1em; /* Increase padding for better button size */
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; /* Change cursor on hover */
}

/* Hover effect for clickable elements */
rect:hover, circle:hover, text.circle:hover, text.rect:hover {
  cursor: pointer;
}

/* Additional styling for subtext */
.subtext {
  font-size: 0.8em;
  font-weight: 400;
}

/* SVG container */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
